.header {
    color: #2c3e50;
    text-align: center;
    padding: 30px 20px;
    margin: 20px auto;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    background: linear-gradient(135deg, aqua, rgb(0, 0, 255));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    border: black solid;
}
.content {
    color: #34495e;
    font-size: 1.5em;
    font-weight: bold;
    background: linear-gradient(135deg, aqua, green, yellow);
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
    border: blue solid;
}
.content:hover {
    color: pink;
}
.content:active {
    color: red;
    background-color: beige;
}
a:link {
    color: yellow;
}
a:visited {
    color: blueviolet;
}
a:hover {
    color: yellowgreen;
}